<%- include('../view-parts/_header'); -%>

<nav class="breadcrumb has-bullet-separator mt-4" aria-label="breadcrumb">
  <ul>
    <li><a class="has-ws-normal" href="<%= urlPrefix %>/products"><%= configFunctions.getProperty("views.products.title") %></a></li>
    <li class="is-active">
      <a href="#" aria-current="page"><%= configFunctions.getProperty("views.checkout.title") %></a>
    </li>
  </ul>
</nav>

<div class="level mt-4">
  <div class="level-left">
    <h1 class="title is-3">
      <%= configFunctions.getProperty("views.checkout.title") %>
    </h1>
  </div>
  <div class="level-right has-text-right">
    <button class="button is-danger" id="button--clearCart" type="button">
      <span class="icon">
        <i class="fas fa-trash-alt" aria-hidden="true"></i>
      </span>
      <span>Clear Cart</span>
    </button>
  </div>
</div>

<%
  const checkoutHeaderEJS = configFunctions.getProperty("views.checkout.headerEjs");
%>
<% if (checkoutHeaderEJS) { %>
  <%- include('../view-parts/headers/' + checkoutHeaderEJS); -%>
<% } %>

<ul class="card" id="card--cart">
  <li class="card-content has-text-centered">
    <i class="fas fa-6x fa-pulse fa-spinner" aria-hidden="true"></i>
    <span class="is-sr-only">Loading cart</span>
  </li>
</ul>

<div class="card has-text-right">
  <div class="card-content" id="container--cartTotal" data-currency="<%= configFunctions.getProperty("currency.currencyName") %>"></div>
</div>

<form class="mt-4 is-hidden" id="form--shipping">
  <h2 class="title is-4">
    <%= configFunctions.getProperty("views.checkout_shipping.title") %>
  </h2>
  <%
    const shippingHeaderEJS = configFunctions.getProperty("views.checkout_shipping.headerEjs");
  %>
  <% if (shippingHeaderEJS) { %>
    <%- include('../view-parts/headers/' + shippingHeaderEJS); -%>
  <% } %>
  <div class="field">
    <label class="label" for="shipping_fullName">Full Name:</label>
    <div class="control">
      <input class="input" id="shipping_fullName" name="fullName" type="text" maxlength="100" autocomplete="name" required />
    </div>
  </div>
  <div class="field">
    <label class="label" for="shipping_address">Address:</label>
    <div class="control">
      <input class="input" id="shipping_address" name="address" type="text" maxlength="100" placeholder="Address Line 1" autocomplete="address-line1" required />
    </div>
    <div class="control mt-2">
      <input class="input" id="shipping_address2" name="address2" type="text" maxlength="100" placeholder="Address Line 2" autocomplete="address-line2" aria-label="Address Line 2" />
    </div>
  </div>
  <div class="columns">
    <div class="column is-two-thirds">
      <div class="field">
        <label class="label" for="shipping_city">City:</label>
        <div class="control">
          <input class="input" id="shipping_city" name="city" type="text" maxlength="50" autocomplete="address-level2" required />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label" for="shipping_province">Province:</label>
        <div class="control">
          <input class="input" id="shipping_province" name="province" type="text" maxlength="20" autocomplete="address-level1" required />
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label" for="shipping_country">Country:</label>
        <div class="control">
          <input class="input" id="shipping_country" name="country" type="text" maxlength="20" autocomplete="country" required />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label" for="shipping_postalCode">Postal Code:</label>
        <div class="control">
          <input class="input" id="shipping_postalCode" name="postalCode" type="text" minlength="5" maxlength="7" autocomplete="postal-code" required />
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label" for="shipping_phoneNumberDay">Daytime Telephone Number:</label>
        <div class="control has-icons-left">
          <input class="input" id="shipping_phoneNumberDay" name="phoneNumberDay" type="text" minlength="10" maxlength="50" autocomplete="tel" required />
          <span class="icon is-small is-left">
            <i class="fas fa-phone" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label" for="shipping_phoneNumberEvening">Evening Telephone Number:</label>
        <div class="control has-icons-left">
          <input class="input" id="shipping_phoneNumberEvening" name="phoneNumberEvening" type="text" minlength="10" maxlength="50" autocomplete="tel" />
          <span class="icon is-small is-left">
            <i class="fas fa-phone" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label" for="shipping_emailAddress">Email Address:</label>
    <div class="control">
      <input class="input" id="shipping_emailAddress" name="emailAddress" type="email" maxlength="50" required />
    </div>
  </div>

  <div class="columns is-vcentered">
    <div class="column has-text-centered">
      <input name="captchaKey" type="hidden" value="<%= captchaKey %>" />
      <img src="<%= urlPrefix %>/checkout/captcha/<%= captchaKey %>" alt="CAPTCHA Image" />
    </div>
    <div class="column">
      <div class="field">
        <label class="label" for="captchaText">Enter the Text from the Image</label>
        <div class="control">
          <input class="input" id="captchaText" name="captchaText" type="text" autocomplete="off" required />
        </div>
      </div>
    </div>
  </div>

  <%
    const shippingFooterEJS = configFunctions.getProperty("views.checkout_shipping.footerEjs");
  %>
  <% if (shippingFooterEJS) { %>
    <%- include('../view-parts/footers/' + shippingFooterEJS); -%>
  <% } %>

  <div class="block has-text-right">
    <button class="button is-success" type="submit">
      Proceed to Payment
    </button>
  </div>
</form>

<form class="is-hidden" id="form--toPayment" action="<%= urlPrefix %>/checkout/toPayment" method="post">
  <input id="toPayment_orderNumber" name="orderNumber" type="hidden" />
  <input id="toPayment_orderSecret" name="orderSecret" type="hidden" />
</form>

<%- include('../view-parts/_footerA'); -%>
<script src="<%= urlPrefix %>/lib/formToObject/formToObject.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/cart.min.js"></script>
<script src="<%= urlPrefix %>/lib/bulma-webapp-js/cityssm.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/checkout.min.js"></script>
<%- include('../view-parts/_footerB'); -%>
