<%- include('../view-parts/_header'); -%>

<%
  const viewConfig = configFns.getProperty("views.checkout") || {};
%>

<h1 class="title is-3 has-text-centered mt-4">
  <%= viewConfig.title || "Checkout" %>
</h1>

<% if (viewConfig.headerEjs) { %>
  <%- include('../view-parts/headers/' + viewConfig.headerEjs); -%>
<% } %>

<%- include('../view-parts/_footerA'); -%>
<script src="/formToObject/formToObject.min.js"></script>
<script src="/javascripts/cart.min.js"></script>
<%- include('../view-parts/_footerB'); -%>
