<%- include('../view-parts/_header'); -%>

<nav class="breadcrumb has-bullet-separator mt-4" aria-label="breadcrumb">
  <ul>
    <li>
      <a href="<%= urlPrefix %>/products">
        <%= configFunctions.getPropertyByLanguage("views.products.title", preferredLanguage) %>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <%= configFunctions.getPropertyByLanguage("views.order.title", preferredLanguage) %>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-3 has-text-centered mt-4">
  <%= configFunctions.getPropertyByLanguage("views.order.title", preferredLanguage) %>
</h1>

<%
  const headerEjs = configFunctions.getProperty("views.order.headerEjs");
  if (headerEjs) {
%>
  <%- include("../view-parts/headers/" + headerEjs); -%>
<%
  }
%>

<div class="columns">
  <div class="column">
    <div class="block">
      <strong>
        <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.order, preferredLanguage) %>:
      </strong><br />
      <span class="is-size-7">
        <%= order.orderNumber %><br />
        <%= dateTimeFns.dateToString(order.orderTime) %>
        <%= dateTimeFns.dateToTimeString(order.orderTime) %>
      </span>
    </div>
  </div>
  <div class="column">
    <div class="block">
      <strong>
        <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.receipt, preferredLanguage) %>:
      </strong><br />
      <span class="is-size-7">
        <%= order.paymentID %><br />
        <%= dateTimeFns.dateToString(order.paymentTime) %>
        <%= dateTimeFns.dateToTimeString(order.paymentTime) %>
      </span>
    </div>
  </div>
</div>

<table class="table is-fullwidth mb-0">
  <thead>
    <tr>
      <th scope="col" colspan="2">
        <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.item, preferredLanguage) %>
      </th>
      <th class="has-text-right" scope="col">
        <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.price, preferredLanguage) %>
      </th>
      <th class="has-text-right" scope="col">
        <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.total, preferredLanguage) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%
      let itemTotal = 0;

      for (const item of order.items) {

        const productConfig = configFunctions.getProperty("products")[item.productSKU];
        itemTotal += item.itemTotal;

        const itemHasDownload = productConfig?.hasDownload ?? false
    %>
      <tr>
        <th scope="row" <%- itemHasDownload ? "" : ' colspan="2"' %>>
          <%= (productConfig ? translationHelpers.getStringByLanguage(productConfig.productName, preferredLanguage) : item.productSKU) %>
          <% if (item.fields) { %>
            <%
              for (const itemField of item.fields) {

                let fieldDefinition = null;

                if (productConfig && productConfig.formFieldsToSave) {
                  fieldDefinition = productConfig.formFieldsToSave.find((def) => {
                    return itemField.formFieldName === def.formFieldName;
                  });
                }
            %>
              <br />
              <span class="is-size-7 has-text-weight-normal">
                <strong><%= (fieldDefinition ? translationHelpers.getStringByLanguage(fieldDefinition.fieldName, preferredLanguage) : itemField.formFieldName) %>:</strong>
                <%= itemField.fieldValue === "" ? "(Not Set)" : itemField.fieldValue %>
              </span>
            <%
              }
            %>
          <% } %>
        </th>
        <% if (itemHasDownload) { %>
          <td>
            <a class="button is-primary" href="<%= urlPrefix %>/order/<%= order.orderNumber %>/<%= order.orderSecret %>/<%= item.itemIndex %>/download" target="_blank">Download Now</a>
          </td>
        <% } %>
        <td class="has-text-right">
          <%= item.quantity %>
          &times;
          $<%= item.unitPrice.toFixed(2) %>
        </td>
        <td class="has-text-right">
          $<%= item.itemTotal.toFixed(2) %>
        </td>
      </tr>
    <%
      }
    %>
    <tr>
      <th class="has-text-right" colspan="3" scope="row">
        <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.itemTotal, preferredLanguage) %>
      </th>
      <td class="has-text-right has-text-weight-bold">
        $<%= itemTotal.toFixed(2) %>
      </td>
    </tr>
  </tbody>
  <%
    let feeTotal = 0;

    if (order.fees && order.fees.length > 0) {
  %>
    <tbody>
      <%
        for (const fee of order.fees) {
          const feeConfig = configFunctions.getProperty("fees")[fee.feeName];
          feeTotal += fee.feeTotal;
      %>
      <tr>
        <th class="has-text-right has-text-weight-normal" colspan="3" scope="row">
          <%= (feeConfig ? translationHelpers.getStringByLanguage(feeConfig.feeName, preferredLanguage) : fee.feeName) %>
        </th>
        <td class="has-text-right">
          $<%= fee.feeTotal.toFixed(2) %>
        </td>
      </tr>
      <%
        }
      %>
    </tbody>
  <%
    }
  %>
  <tfoot>
    <tr>
      <th class="has-text-right is-size-5" colspan="3" scope="row">
        <%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.total, preferredLanguage) %>
      </th>
      <td class="has-text-right has-text-weight-bold is-size-5">
        $<%= (itemTotal + feeTotal).toFixed(2) %>
      </td>
    </tr>
  </tfoot>
</table>

<p class="has-text-weight-bold has-text-right is-size-7">
  <%= configFunctions.getPropertyByLanguage("currency.currencyName", preferredLanguage) %>
</p>

<h2 class="title is-4">
  <%= configFunctions.getPropertyByLanguage("views.checkout_shipping.title", preferredLanguage) %>
</h2>

<div class="columns">
  <div class="column">
    <div class="block">
      <strong><%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.name, preferredLanguage) %>:</strong><br />
      <%= order.shippingName %>
    </div>
    <div class="block">
      <strong><%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.address, preferredLanguage) %>:</strong><br />
      <%= order.shippingAddress1 %><br />
      <% if (order.shippingAddress2) { %>
        <%= order.shippingAddress2 %><br />
      <% } %>
      <%= order.shippingCity %> <%= order.shippingProvince %> &nbsp;<%= order.shippingPostalCode %><br />
      <%= order.shippingCountry %>
    </div>
  </div>
  <div class="column">
    <div class="block">
      <strong><%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.daytimeTelephone, preferredLanguage) %>:</strong><br />
      <%= order.shippingPhoneNumberDay %>
    </div>
    <% if (order.shippingPhoneNumberEvening) { %>
      <div class="block">
        <strong><%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.eveningTelephone, preferredLanguage) %>:</strong><br />
        <%= order.shippingPhoneNumberEvening %>
      </div>
    <% } %>
    <div class="block">
      <strong><%= translationHelpers.getStringByLanguage(translationHelpers.miniShopTranslations.emailAddress, preferredLanguage) %>:</strong><br />
      <%= order.shippingEmailAddress %>
    </div>
  </div>
</div>

<%
  const footerEjs = configFunctions.getProperty("views.order.footerEjs");
  if (footerEjs) {
%>
  <%- include("../view-parts/footers/" + footerEjs); -%>
<%
  }
%>

<%- include('../view-parts/_footerA'); -%>
<script src="<%= urlPrefix %>/lib/formToObject/formToObject.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/cart.js"></script>
<script>
  exports.cart.clear();
</script>
<%- include('../view-parts/_footerB'); -%>
