<%- include('_header'); -%>

<%
  const product = configFns.getProperty("products")[productSKU];
%>

<h1 class="title has-text-centered mt-4"><%= product.productName %></h1>

<form id="form--product">
  <input name="productSKU" type="hidden" value="<%= productSKU %>" />
  <div class="columns">
    <div class="column is-3">
      <a class="image is-<%= product.image.dimensionClass %>" href="../<%= product.image.path %>" target="_blank">
        <img src="../<%= product.image.path %>" alt="<%= product.productName %>" />
      </a>
      <div class="has-text-centered">
        $<%= product.price.toFixed(2) %>
      </div>
    </div>
    <div class="column">
      <%- include(product.ejsViewPath); -%>
    </div>
  </div>
  <div class="has-text-right">
    <button class="button is-success" type="submit">
      <span class="icon is-small">
        <i class="fas fa-cart-plus" aria-hidden="true"></i>
      </span>
      <span>Add to Cart</span>
    </button>
  </div>
</form>

<%- include('_footerA'); -%>
<script src="/javascripts/product-view.min.js"></script>
<%- include('_footerB'); -%>
