<%- include('../view-parts/_header'); -%>

<nav class="breadcrumb has-bullet-separator mt-4" aria-label="breadcrumb">
  <ul>
    <li><a class="has-ws-normal" href="<%= urlPrefix %>/products">
      <%= configFunctions.getProperty("views.products.title") %></a></li>
    <li class="is-active">
      <a href="#" aria-current="page"><%= product.productName %></a>
    </li>
  </ul>
</nav>

<h1 class="title has-text-centered mt-4"><%= product.productName %></h1>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "<%= product.productName %>",
    "description": "<%= product.description || "" %>",
    "sku": "<%= productSKU %>",
    "image": "<%= urlPrefix %><%= product.image.path %>",
    "offers": {
      "@type": "Offer",
      <% if (typeof (product.price) === "number") { %>
        "price": "<%= product.price.toFixed(2) %>",
      <% } %>
      "priceCurrency": "<%= configFunctions.getProperty("currency.code") %>",
      "url": "<%= urlPrefix %>/products/<%= productSKU %>"
    }
  }
</script>

<form id="form--product">
  <input name="productSKU" type="hidden" value="<%= productSKU %>" />
  <input name="quantity" type="hidden" value="1" />
  <% if (typeof (product.price) === "number") { %>
    <input name="unitPrice" type="hidden" value="<%= product.price.toFixed(2) %>" />
  <% } %>
  <div class="columns">
    <div class="column is-3-tablet is-4-desktop">
      <a class="image has-cursor-zoom-in is-<%= product.image.dimensionClass %> has-tooltip-bottom has-tooltip-arrow" data-tooltip="View Larger Picture" href="<%= urlPrefix %><%= product.image.path %>" target="_blank">
        <img src="<%= urlPrefix %><%= product.image.path %>" alt="<%= product.productName %>" />
      </a>
      <% if (typeof (product.price) === "number") { %>
        <div class="has-text-centered mt-2">
          <span class="has-text-weight-semibold">
            $<%= product.price.toFixed(2) %>
            <abbr title="<%= configFunctions.getProperty("currency.currencyName") %>"><%= configFunctions.getProperty("currency.code") %></abbr>
          </span><br />
          <%
            if (product.fees && product.fees.length > 0) {
          %>
            <span class="is-size-7">
            Plus
              <%
                for (let i = 0; i < product.fees.length; i += 1) {
                  const feeName = product.fees[i];
                  const fee = configFunctions.getProperty("fees")[feeName];
              %>
                <%= (i === 0 ? "" : ", ") + (fee ? fee.feeName : feeName) %>
              <%
                }
              %>
            </span>
          <%
            }
          %>
        </div>
      <% } %>
    </div>
    <div class="column">
      <% if (product.productEjs) { %>
        <%- include('../view-parts/products/' + product.productEjs); -%>
      <% } %>
      <div class="has-text-right mt-4">
        <button class="button is-success" type="submit">
          <span class="icon is-small">
            <i class="fas fa-cart-plus" aria-hidden="true"></i>
          </span>
          <span>Add to Cart</span>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="modal" id="modal--success">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="message is-success">
      <div class="message-body">
        <p class="is-size-4 has-text-centered">
          <i class="fas fa-3x fa-check" aria-hidden="true"></i><br />
          Added to the cart successfully.
        </p>
        <div class="columns mt-3">
          <div class="column">
            <a class="button is-info is-fullwidth" href="<%= urlPrefix %>/products">
              Continue Shopping
            </a>
          </div>
          <div class="column">
            <a class="button is-success is-fullwidth" id="successButton--checkout" href="<%= urlPrefix %>/checkout">
              Proceed to Checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../view-parts/_footerA'); -%>
<script src="<%= urlPrefix %>/lib/formToObject/formToObject.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/cart.min.js"></script>
<script src="<%= urlPrefix %>/lib/bulma-webapp-js/cityssm.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/product-view.min.js"></script>
<%- include('../view-parts/_footerB'); -%>
