<%- include('../view-parts/_header'); -%>

<%
  const viewConfig = configFunctions.getProperty("views.products") || {};
%>

<h1 class="title is-3 has-text-centered mt-4">
  <%= translationHelpers.getStringByLanguage(viewConfig.title, preferredLanguage) || "Products" %>
</h1>

<% if (viewConfig.headerEjs) { %>
  <%- include('../view-parts/headers/' + viewConfig.headerEjs); -%>
<% } %>

<%
  const productCategories = configFunctions.getProperty("productCategories") || [];
  const products = configFunctions.getProperty("products");

  for (const productCategory of productCategories) {
%>

<h2 class="title is-4"><%= translationHelpers.getStringByLanguage(productCategory.categoryName, preferredLanguage) %></h2>

<% if (productCategory.categoryEjs) { %>
  <%- include('../view-parts/categories/' + productCategory.categoryEjs); -%>
<% } %>

<div class="columns is-centered is-multiline">
  <%
    for (let skuIndex = 0; skuIndex < productCategory.productSKUs.length; skuIndex += 1) {
  %>
  <%
    const productSKU = productCategory.productSKUs[skuIndex];
    const product = products[productSKU];
  %>
  <div class="column is-4">
    <a href="<%= urlPrefix %>/products/<%= productSKU %>">
      <div class="card">
        <% if (product.image) { %>
          <div class="card-image">
            <div class="image is-<%= product.image.dimensionClass %>">
              <img src="<%= urlPrefix %><%= product.image.path %>" alt="" />
            </div>
          </div>
        <% } %>
        <div class="card-content">
          <h2 class="title is-5">
            <%= translationHelpers.getStringByLanguage(product.productName, preferredLanguage) %>
          </h2>
          <% if (typeof (product.price) === "number") { %>
            <p class="has-text-weight-semibold has-text-right">
              $<%= product.price.toFixed(2) %>
              <abbr title="<%= configFunctions.getPropertyByLanguage("currency.currencyName", preferredLanguage) %>">
                <%= configFunctions.getProperty("currency.code") %>
              </abbr>
            </p>
          <% } %>
        </div>
        <% if (product.description) { %>
          <div class="card-content">
            <%= translationHelpers.getStringByLanguage(product.description, preferredLanguage) %>
          </div>
          <% } %>
        </div>
      </a>
    </div>
  <%
    }
  %>
</div>
<%
  }
%>

<%- include('../view-parts/_footerA'); -%>
<script src="<%= urlPrefix %>/lib/formToObject/formToObject.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/cart.js"></script>
<%- include('../view-parts/_footerB'); -%>
