<%- include('../view-parts/_header'); -%>

<%
  const viewConfig = configFns.getProperty("views.products") || {};
%>

<h1 class="title is-3 has-text-centered mt-4">
  <%= viewConfig.title || "Products" %>
</h1>

<% if (viewConfig.headerEjs) { %>
  <%- include('../view-parts/headers/' + viewConfig.headerEjs); -%>
<% } %>

<%
  const productCategories = configFns.getProperty("productCategories") || [];
  const products = configFns.getProperty("products");

  for (const productCategory of productCategories) {
%>

<h2 class="title is-4"><%= productCategory.categoryName %></h2>

<% if (productCategory.categoryEjs) { %>
  <%- include('../view-parts/categories/' + productCategory.categoryEjs); -%>
<% } %>

<div class="columns is-centered is-multiline">
  <%
    for (let skuIndex = 0; skuIndex < productCategory.productSKUs.length; skuIndex += 1) {
  %>
  <%
    const productSKU = productCategory.productSKUs[skuIndex];
    const product = products[productSKU];
  %>
  <div class="column is-4">
    <div class="card">
      <% if (product.image) { %>
        <div class="card-image">
          <a class="image is-<%= product.image.dimensionClass %>"  href="<%= urlPrefix %>/products/<%= productSKU %>">
            <img src="<%= urlPrefix %>/<%= product.image.path %>" alt="<%= product.productName %>" />
          </a>
        </div>
      <% } %>
      <a class="card-header" href="products/<%= productSKU %>">
        <h2 class="card-header-title has-text-centered">
          <%= product.productName %>
        </h2>
      </a>
      <% if (product.description) { %>
        <div class="card-content">
          <%= product.description %>
        </div>
        <% } %>
      </div>
    </div>
  <%
    }
  %>
</div>
<%
  }
%>

<%- include('../view-parts/_footerA'); -%>
<script src="<%= urlPrefix %>/lib/formToObject/formToObject.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/cart.min.js"></script>
<%- include('../view-parts/_footerB'); -%>
