<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    <%= configFunctions.getProperty("application.applicationName") %>
  </title>

  <link rel="icon" href="<%= urlPrefix %>/images/favicon.png" />

  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="section">
    <main class="container">
      <%
        // header
        const headerEjs = configFunctions.getProperty("views.toPayment.headerEjs");
      %>
      <% if (headerEjs) { %>
        <%- include('../view-parts/headers/' + headerEjs); -%>
      <% } %>

      <%
        // store
        const storeType = configFunctions.getProperty("store.storeType");
      %>
      <%- include("../view-parts/stores/" + storeType + ".ejs"); -%>

      <%
        // footer
        const footerEjs = configFunctions.getProperty("views.toPayment.footerEjs");
      %>
      <% if (footerEjs) { %>
        <%- include('../view-parts/footers/' + footerEjs); -%>
      <% } %>
    </main>
  </div>
</body>
</html>
