<html>
<head>
  <title>Open-Air Burning Permit</title>
  <meta charset="utf-8" />
  <style>
    * {
      box-sizing: border-box;
      font-size: 8pt;
    }

    html {
      font-family: Arial, sans-serif;
    }

    .narrow {
      font-family: 'Arial Narrow', Arial, sans-serif;
    }

    .page {
      margin: 20px 30px;
    }

    h1 {
      margin: 0;
    }

    table {
      width: 100%;
    }

    table th {
      padding: 5px 10px 5px 0;
      text-align: left;
      width: 1px;
      white-space: nowrap;
    }

    table td {
      padding: 5px;
      margin: 0;
      text-align: left;
      vertical-align: top;
    }

    ol {
      margin: 0;
      padding: 0;
    }

    li {
      padding-bottom: 5px;
    }

    .caps {
      text-transform: uppercase;
    }

    .bold {
      font-weight: bold;
    }

    .nowrap {
      white-space: nowrap;
    }

    .checkbox {
      display: inline-block;
      border: 1px solid #000;
      width: 8pt;
      height: 8pt;
      margin-left: 5px;
    }

    .field {
      border-bottom: 1px solid #000;
    }

    .center {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="page">
    <table>
      <tbody>
        <tr>
          <td style="width:25%">
            <img src="http://localhost:<%= configFunctions.getProperty("application.httpPort") %><%= configFunctions.getProperty('reverseProxy.urlPrefix') %>/images/_private/fireServices_bw.jpg" alt="" style="width:90px" />
          </td>
          <td class="center">
            <div>
              <span class="caps bold" style="font-size:14pt;">Sault Ste. Marie Fire Services</span><br />
              <span style="font-size:11pt">
                72 Tancred St., Sault Ste. Marie, Ontario
                &nbsp;P6A 2W1
                &nbsp;705-949-3333
              </span>
            </div>
            <h1 class="caps bold" style="font-size:18pt">Open-Air Burning Permit</h1>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <tbody>
        <tr>
          <th>Name of Person</th>
          <td class="field" colspan="5"><%= order.shippingName %></td>
        </tr>
        <tr>
          <th>Address</th>
          <td class="field" colspan="5"><%= streetAddress %></td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td class="field" colspan="5"><%= order.shippingPhoneNumberDay %></td>
        </tr>
        <tr>
          <th>Valid From</th>
          <td class="field"><%= dateTimeFunctions.dateToString(order.orderTime) %></td>
          <th>To</th>
          <td class="field"><%= dateTimeFunctions.dateToString(expiryDate) %></td>
        </tr>
      </tbody>
    </table>

    <h2 class="center" style="font-size:16pt">
      The Permit Holder Shall Adhere to All Provisions of Open-Air Burning By-law 2024-147,
      including but not limited to:
    </h2>

    <table class="narrow" style="table-layout:fixed">
      <tbody>
        <tr>
          <td>
            <ol>
              <li>
                Burn only clean dry firewood, charcoal or briquettes.
                Materials such as petroleum products, plastics rubber, painted materials, leaves, grass clippings
                and construction or demolition debris shall not be burned.
              </li><li>
                Ensure the fire is contained in a non-combustible fire container
                (i.e. fire bowl, fire table, fireplace, chimnea or wood stove)
                or is in a pit on the ground surrounded by metal, masonry, ceramic or stone.
              </li><li>
                Maintain 5 metres of clearance to all buildings, structures, decks, property lines, trees, hedges, fences,
                roadways, overhead wires or other combustible articles.
              </li><li>
                Burn less than 0.5 cubic materials at a time.
              </li><li>
                Burning is permitted daily between 7:00 a.m. and 11:00 pm only.
              </li><li>
                Ensure there is constant supervision and control over the open-air fire.
              </li>
            </ol>
          </td>
          <td>
            <ol start="7">
              <li>
                Have an adequate water supply to contain or extinguish the fire.
              </li><li>
                The permit holder shall completely extinguish the open-air fire before the site is vacated.
              </li><li>
                Open-air burning shall not be conducted on days where rain, fog, smog, high winds
                or any other weather condition prevents the proper dispersion of smoke.
              </li><li>
                The permit holder shall be courteous to neighbours at all times and shall not cause or permit a nuisance fire.
              </li><li>
                The permit holder shall not open-air burn where open-air burning may cause a risk to human health.
              </li><li>
                S.S.M.F.S or the M.N.R.F have the authority to issue a burn ban which would supersede all approvals to conduct open-air burning. 
              </li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="center" style="font-size:13pt">
      <p>
        Open-Air Burning is regulated in Sault Ste. Marie under By-law 2024-147.
        Any contravention of this By-law can result in the permit being revoked.
        Additionally, any person who contravenes any provision of this By-law is guilty of an offence
        and is liable to a fine and penalty pursuant to the provisions of Section 61 of the Provincial Offences Act, R.S.O. 1990, c.P.33., as amended. 
      </p>
    </div>
    <p class="bold center" style="font-size:16pt;font-style:italic">
      Test Your Smoke Alarm Weekly
    </p>

    <div style="border:1px solid #000;width:60%;margin:0 auto;padding:20px">
      <table>
        <tbody>
          <tr>
            <th>Receipt Number</th>
            <td class="field"><%= order.paymentID %></td>
          </tr>
          <tr>
            <th>Permit Type</th>
            <td class="field">
              <%
                switch (permitType) {

                  case "renew_1yr":
              %>
                    Permit Renewal (One Year)
              <%
                    break;

                  case "renew_4yr":
              %>
                    Permit Renewal (Four Years)
              <%
                    break;
                }
              %>
            </td>
          </tr>
          <tr>
            <th>Amount Paid</th>
            <td class="field">$<%= item.unitPrice.toFixed(2) %></td>
          </tr>
          <tr>
            <th>Payment Time</th>
            <td class="field">
              <%= dateTimeFunctions.dateToString(order.paymentTime) %>
              <%= dateTimeFunctions.dateToTimeString(order.paymentTime) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>