  </main>
</div>
<% if (configFunctions.getProperty("site.footer.isVisible")) { %>
  <footer class="px-5 py-3 has-background-<%= configFunctions.getProperty("site.footer.backgroundColorClass") %> has-text-<%= configFunctions.getProperty("site.footer.textColorClass") %>">
    <%
      const siteFooterEjs = configFunctions.getProperty("site.footer.footerEjs");
    %>
    <%- include('../view-parts/footers/' + siteFooterEjs); -%>
  </footer>
<% } %>
<script src="<%= urlPrefix %>/lib/js-cookie/js.cookie.min.js"></script>
<script src="<%= urlPrefix %>/lib/bulma-js/bulma-js.js"></script>
<script>
  window.exports = window.exports || {};

  bulmaJS.init()

  function setPreferredLanguage(clickEvent) {
    clickEvent.preventDefault();

    const preferredLanguage = clickEvent.currentTarget.dataset.lang

    Cookies.set('preferredLanguage', preferredLanguage)

    window.location.reload()
  }

  const languageSettingElements = document.querySelectorAll('a.option--preferredLanguage')

  for (const languageSettingElement of languageSettingElements) {
    languageSettingElement.addEventListener('click', setPreferredLanguage)
  }

  function MiniShop_getStringByLanguage(languageStringProperty) {
    const preferredLanguage = '<%= preferredLanguage %>';

    if (languageStringProperty === undefined) {
      return undefined
    } else if (typeof languageStringProperty === 'string') {
      return languageStringProperty
    } else {
      return (
        languageStringProperty[preferredLanguage] ??
        languageStringProperty[Object.keys(languageStringProperty)[0]]
      )
    }
  }
</script>
