 %><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    <%= (pageTitle ? pageTitle + ": " : "") %>
    <%= configFns.getProperty("application.applicationName") %>
  </title>

  <link rel="icon" href="<%= urlPrefix %>/images/favicon.png" />

  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.min.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/fontawesome-free/css/all.min.css" />
</head>

<%
  const logoImagePath = configFns.getProperty("site.header.logoImagePath");
  const backgroundColorClass = configFns.getProperty("site.header.backgroundColorClass");
%>

<body>
  <nav class="has-background-<%= backgroundColorClass %>">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column">
        <a class="button is-medium is-<%= backgroundColorClass %> is-radiusless" href="<%= urlPrefix %>/products">
          <% if (logoImagePath) { %>
            <img class="mr-2" src="<%= urlPrefix %><%= logoImagePath %>" alt="" style="max-height:30px" />
          <% } %>
          <span><%= configFns.getProperty("application.applicationName") %></span>
        </a>
      </div>
      <div class="column is-narrow">
        <a class="button is-medium is-<%= backgroundColorClass %> is-radiusless has-tooltip-arrow has-tooltip-left" data-tooltip="Cart and Checkout" href="<%= urlPrefix %>/checkout">
          <span class="icon">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
          </span>
          <span class="sr-only">Cart</span>
          <span class="tag is-danger is-hidden" id="tag--cartCount"></span>
        </a>
      </div>
    </div>
  </nav>
  <div class="section pt-0">
    <main class="container is-max-desktop" data-url-prefix="<%= urlPrefix %>">
