 %><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    <%= (pageTitle ? pageTitle + ": " : "") %>
    <%= configFunctions.getProperty("application.applicationName") %>
  </title>

  <link rel="icon" href="<%= urlPrefix %>/images/favicon.svg" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.min.css" />
</head>

<%
  const logoImagePath = configFunctions.getProperty("site.header.logoImagePath");
  const backgroundColorClass = configFunctions.getProperty("site.header.backgroundColorClass");
%>

<body>
  <nav class="has-background-<%= backgroundColorClass %>">
    <div class="columns is-gapless is-vcentered is-mobile">
      <div class="column">
        <a class="button is-medium is-<%= backgroundColorClass %> is-radiusless" href="<%= urlPrefix %>/products">
          <% if (logoImagePath) { %>
            <img class="mr-2" src="<%= urlPrefix %><%= logoImagePath %>" alt="<%= configFunctions.getProperty("application.applicationName") %>" style="max-height:30px" />
          <% } %>
          <span class="is-hidden-mobile"><%= configFunctions.getProperty("application.applicationName") %></span>
        </a>
      </div>
      <div class="column is-narrow">
        <a class="button is-medium is-<%= backgroundColorClass %> is-radiusless has-tooltip-arrow has-tooltip-left" data-tooltip="Cart and Checkout" href="<%= urlPrefix %>/checkout">
          <span class="icon">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
          </span>
          <span class="sr-only">Cart</span>
          <span class="tag is-danger is-hidden" id="tag--cartCount"></span>
        </a>
      </div>
    </div>
  </nav>
  <div class="section pt-0">
    <main class="container is-max-desktop" data-url-prefix="<%= urlPrefix %>">
