<%
  const idPrefix = stringFns.getUID();
%>
<div class="message is-warning">
  <p class="message-body">
    Note that the payment made now is the payment for the application itself.
    It is an application fee.
    Depending on the extent of the request,
    a subsequent payment may be required before the information is released.
  </p>
</div>
<div class="field">
  <label class="label" for="<%= idPrefix %>_natureOfRequest">
    Detailed description of requested records:
  </label>
  <div class="control">
    <textarea class="textarea" id="<%= idPrefix %>_natureOfRequest" name="natureOfRequest" required></textarea>
  </div>
</div>
<fieldset>
  <legend class="has-text-weight-bold">Preferred method of access to records:</legend>
  <p class="facheck facheck-fas-checked mt-2">
    <input id="<%= idPrefix %>_accessMethod-original" name="accessMethod" type="radio" value="Examine Original" required />
    <label for="<%= idPrefix %>_accessMethod-original">Examine Original</label>
  </p>
  <p class="facheck facheck-fas-checked mt-2">
    <input id="<%= idPrefix %>_accessMethod-copy" name="accessMethod" type="radio" value="Receive Copy" required />
    <label for="<%= idPrefix %>_accessMethod-copy">Receive Copy</label>
  </p>
</fieldset>
