<%
  const idPrefix = stringFns.getUID();
%>

<input id="<%= idPrefix %>_tagNumber" name="tagNumber" type="hidden" />
<input class="is-hidden" id="<%= idPrefix %>_tagNumber-isValid" name="tagNumber-isValid" type="checkbox" required />
<label class="label" for="<%= idPrefix %>_tagNumber-prefix">
  Tag Number
</label>
<div class="field has-addons">
  <div class="control">
    <div class="select">
      <select id="<%= idPrefix %>_tagNumber-prefix" name="tagNumber-prefix" required>
        <option value="">(Select One)</option>
        <option>PD</option>
        <option>PS</option>
        <option>SC</option>
      </select>
    </div>
  </div>
  <div class="control">
    <input class="input" id="<%= idPrefix %>_tagNumber-suffix" name="tagNumber-suffix" type="text" inputmode="numeric" minlength="5" maxlength="5" pattern="\d{5}" placeholder="#####" required aria-label="Tag Number Suffix" />
  </div>
  <div class="control">
    <span class="button is-static">
      <span class="icon is-small tagNumber-isValidIcon"></span>
    </span>
  </div>
</div>

<div class="message is-warning is-hidden tagNumber-isInvalidMessage">
  <p class="message-body">
    The selected Tag Number is not available for online payments.
  </p>
</div>

<input id="<%= idPrefix %>_offenceDate" name="offenceDate" type="hidden" />
<label class="label" for="<%= idPrefix %>_offenceDate-year">
  Offence Date
</label>
<div class="field has-addons">
  <div class="control">
    <div class="select">
      <select id="<%= idPrefix %>_offenceDate-year" name="offenceDate-year" title="Offence Year" required>
        <% const currentYear = new Date().getFullYear(); %>
        <option value="">(Year)</option>
        <option><%= currentYear %></option>
        <option><%= currentYear - 1 %></option>
      </select>
    </div>
  </div>
  <div class="control">
    <span class="button is-static">/</span>
  </div>
  <div class="control">
    <div class="select">
      <select id="<%= idPrefix %>_offenceDate-month" name="offenceDate-month" title="Offence Month" required>
        <option value="">(Month)</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
    </div>
  </div>
  <div class="control">
    <span class="button is-static">/</span>
  </div>
  <div class="control">
    <div class="select">
      <select id="<%= idPrefix %>_offenceDate-day" name="offenceDate-day" title="Offence Day" required>
        <option value="">(Day)</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
      </select>
    </div>
  </div>
</div>

<label class="label" for="<%= idPrefix %>_licencePlate">
  Licence Plate
</label>
<div class="field">
  <div class="control">
    <input class="input" id="<%= idPrefix %>_licencePlate" name="licencePlate" type="text" minlength="2" maxlength="10" pattern="^[\dA-Za-z -]+$" required />
  </div>
</div>

<label class="label" for="<%= idPrefix %>_unitPrice">
  Total Fine
</label>
<div class="field has-addons">
  <div class="control">
    <span class="button is-static">$</span>
  </div>
  <div class="control">
    <input class="input" id="<%= idPrefix %>_unitPrice" name="unitPrice" type="text" inputmode="numeric" minlength="2" maxlength="10" pattern="^\d+(\.\d\d)?" required />
  </div>
</div>

<script src="<%= urlPrefix %>/javascripts/product-ssm-ticket_parking.min.js" defer></script>
<script src="<%= urlPrefix %>/javascripts/product-ssm-ticket.min.js" defer></script>
