<% const idPrefix = stringFns.getUID(); %>

<% if (preferredLanguage !== 'en') { %>
  <div class="message is-warning">
    <p class="message-body">
      <strong>Cet article n'est actuellement proposé qu'en anglais.</strong>
    </p>
  </div>
  <div lang="en">
<% } %>

<h2 class="title is-4">Required Permit Details</h2>

<input id="<%= idPrefix %>_unitPrice" name="unitPrice" type="hidden" value="" required />

<div class="message is-warning">
  <p class="message-body">
    Properties currently under suspension cannot obtain new permits or renew
    permits. Fire Services will validate all permit requests. If there is a
    discrepancy in the information provided, an attempt will be made to contact
    the purchaser or may result in the permit being voided.
  </p>
</div>

<div class="message is-info">
  <p class="message-body">
    Owner contact details are provided at checkout.
  </p>
</div>

<div class="field">
  <label class="label" for="<%= idPrefix %>_streetAddress"
    >Street Address</label
  >
  <div class="control">
    <input
      class="input"
      id="<%= idPrefix %>_streetAddress"
      name="streetAddress"
      type="text"
      maxlength="100"
      placeholder="ex. 99 Foster Drive"
      required
    />
  </div>
</div>

<fieldset class="mb-3">
  <legend class="label">Applicant Type</legend>
  <div class="control">
    <label class="radio">
      <input id="<%= idPrefix %>_applicantType-owner" name="applicantType" type="radio" value="owner" required />
      I confirm that I am the owner of this property.
    </label>
  </div>
  <div class="control">
    <label class="radio">
      <input id="<%= idPrefix %>_applicantType-tenant" name="applicantType" type="radio" value="tenant" required />
      I am a tenant of this property with consent to apply for an open-air burning permit from the owner. 
    </label>
  </div>
</fieldset>

<div class="is-hidden" id="container_<%= idPrefix %>_applicantType-owner">
  <label class="checkbox">
    <input
      id="<%= idPrefix %>_understandGuidelines"
      name="understandGuidelines"
      type="checkbox"
      required
    />
    I have read, understand, and will follow all open-air burning requirements under
    <a href="https://saultstemarie.ca/Cityweb/media/Legal/By-laws/By-law-2024-147.pdf" target="_blank">By-law 2024-147</a>.
    I understand that it is my responsibility to be aware of the expiry date on the permit and to know when I need to re-apply for a permit.    
  </label>

  <fieldset class="mt-5">
    <legend class="title is-5">Permit Type</legend>

    <% if (Number.isFinite(product.data?.oab_4yr)) { %>
      <div class="content">
        <div class="control">
          <label class="radio">
            <input
              id="<%= idPrefix %>_permitType_oab_4yr"
              name="permitType"
              value="oab_4yr"
              data-unit-price="<%= product.data.oab_4yr %>"
              type="radio"
              aria-describedby="<%= idPrefix %>_permitType_oab_4yr_description"
              required
            />
            Four Year Permit - $<%= product.data.oab_4yr %>
          </label>
        </div>

        <p id="<%= idPrefix %>_permitType_oab_4yr_description">
          Expires four years after the date of purchase.
        </p>
      </div>
    <% } %>
    
    <% if (Number.isFinite(product.data?.oab_1yr)) { %>
      <div class="content">
        <div class="control">
          <label class="radio">
            <input
              id="<%= idPrefix %>_permitType_oab_1yr"
              name="permitType"
              value="oab_1yr"
              data-unit-price="<%= product.data.oab_1yr %>"
              type="radio"
              aria-describedby="<%= idPrefix %>_permitType_oab_1yr_description"
              required
            />
            One Year Permit - $<%= product.data.oab_1yr %>
          </label>
        </div>
        <p id="<%= idPrefix %>_permitType_oab_1yr_description">
          Expires one year after the date of purchase.
        </p>
      </div>
    <% } %>
  </fieldset>
</div>

<div class="is-hidden" id="container_<%= idPrefix %>_applicantType-tenant">
  <div class="message is-warning">
    <p class="message-body">
      Please email your letter of consent from the owner to
      <a href="mailto:firepermits@cityssm.on.ca?subject=Open-Air Burning Permit Application for Tenants">firepermits@cityssm.on.ca</a>.
      Call the office at 705-949-3333 x3 when you have emailed the letter of consent
      to complete the open-air burning application.
    </p>
  </div>
</div>

<% if (preferredLanguage !== 'en') { %>
  </div>
<% } %>

<script src="<%= urlPrefix %>/javascripts/product-ssm-oab.js" defer></script>